<% title("Skinnystork - The MOMshell has arrived") %>
<div id="welcome" class="hero-unit span7">
   <h1>Skinnystork</h1>
   <p> Currently under development</p>
    
    <p>Expect it really soon!</p>
<div class='btn btn-primary'></div></div>
</div>
