.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1266px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-bottom: -2px;
}

#u9039
{
	z-index: 125;
	width: 1160px;
	height: 35px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u98-5
{
	z-index: 126;
	width: 177px;
	min-height: 25px;
	top: 1px;
	left: 50%;
	margin-left: -466px;
}

#u98-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px 0px 0px -466px;
}

#pu25121
{
	width: 0.01px;
	margin-left: 799px;
	position: relative;
}

#u25121
{
	z-index: 191;
	width: 72px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u25122
{
	z-index: 192;
	width: 65px;
	height: 32px;
	margin-right: -10000px;
	left: 78px;
}

.ie #u25121,.ie #u25122
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pmenuu100
{
	width: 0.01px;
	padding-bottom: 29px;
	margin-left: 441px;
	top: -30px;
	margin-bottom: -29px;
	position: relative;
}

#menuu100
{
	z-index: 131;
	width: 331px;
	top: 10px;
	left: 50%;
	margin-left: -39px;
}

#u143
{
	width: 81px;
	min-height: 21px;
	margin-right: -10000px;
	top: 2px;
}

#u145-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
}

#u150
{
	width: 81px;
	min-height: 21px;
	margin-right: -10000px;
	top: 2px;
	left: 83px;
}

#u144,#u151
{
	width: 81px;
}

#u153-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
}

#u157
{
	width: 81px;
	min-height: 21px;
	margin-right: -10000px;
	left: 166px;
}

#u158
{
	width: 81px;
	padding-bottom: 4px;
}

#u159-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u25308
{
	width: 82px;
	min-height: 21px;
	margin-right: -10000px;
	left: 249px;
}

#u25309
{
	width: 82px;
	padding-bottom: 4px;
}

#u158.MuseMenuActive,#u25309.MuseMenuActive
{
	margin: 0px;
}

#u25310-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u144.MuseMenuActive #u145-4,#u151.MuseMenuActive #u153-4,#u158.MuseMenuActive #u159-4,#u25309.MuseMenuActive #u25310-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u166-5
{
	z-index: 156;
	width: 66px;
	min-height: 23px;
	top: 8px;
	left: 50%;
	margin-left: 325px;
}

#u169-4
{
	z-index: 166;
	width: 6px;
	min-height: 26px;
	top: 3px;
	left: 50%;
	margin-left: 391px;
}

#u167-5
{
	z-index: 161;
	width: 63px;
	min-height: 22px;
	top: 7px;
	left: 50%;
	margin-left: 407px;
}

#u167-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px 0px 0px 407px;
}

#pu25222
{
	width: 0.01px;
	left: -100px;
	margin-top: 2px;
	position: relative;
}

#u25222
{
	z-index: 2;
	width: 1160px;
	height: 230px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/login_page-u9215-fr.png") no-repeat left top;
	background-size: cover !important;
}

#u25320
{
	z-index: 116;
	width: 1160px;
	height: 146px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
}

#u25322-4
{
	z-index: 117;
	width: 543px;
	min-height: 66px;
	font-size: 73px;
	line-height: 88px;
	text-align: center;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 309px;
}

#u25323-4
{
	z-index: 121;
	width: 586px;
	min-height: 28px;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 287px;
}

#pu25231-4
{
	width: 0.01px;
	margin-left: 108px;
	margin-top: 48px;
	position: relative;
}

#u25231-4
{
	z-index: 22;
	width: 213px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u25241-4
{
	z-index: 65;
	width: 213px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#pu25232-7
{
	width: 0.01px;
	margin-left: 108px;
	position: relative;
}

#u25232-7
{
	z-index: 26;
	width: 348px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u25242-7
{
	z-index: 69;
	width: 389px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#pu25233-4
{
	width: 0.01px;
	margin-left: 106px;
	margin-top: 22px;
	position: relative;
}

#u25233-4
{
	z-index: 3;
	width: 174px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u25245-4
{
	z-index: 76;
	width: 270px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#pu25234-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u25234-4
{
	z-index: 7;
	width: 349px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25243-4
{
	z-index: 44;
	width: 174px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 50px;
	position: relative;
}

#u25244-4
{
	z-index: 48;
	width: 349px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
}

#u25246-15
{
	z-index: 80;
	width: 389px;
	min-height: 68px;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u25246-6
{
	font-size: 14px;
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u25246-4
{
	font-size: 17px;
	letter-spacing: 1px;
	color: #43A494;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	line-height: 20px;
}

#u25246-2,#u25246-7,#u25246-9,#u25246-10,#u25246-12
{
	font-size: 14px;
	text-align: justify;
}

#u25246-13
{
	font-size: 12px;
	line-height: 14px;
}

#pu25235-4
{
	width: 0.01px;
	margin-left: 106px;
	margin-top: 14px;
	position: relative;
}

#u25235-4
{
	z-index: 11;
	width: 242px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u25247-4
{
	z-index: 108;
	width: 296px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#u25236-7
{
	z-index: 15;
	width: 364px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u25248-4
{
	z-index: 112;
	width: 389px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#pu25237-4
{
	width: 0.01px;
	margin-left: 108px;
	margin-top: 30px;
	position: relative;
}

#u25237-4
{
	z-index: 33;
	width: 296px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u25249-4
{
	z-index: 95;
	width: 296px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 402px;
}

#ppu25234-4,#pu25236-7,#pu25238-7
{
	width: 0.01px;
	margin-left: 106px;
	position: relative;
}

#u25238-7
{
	z-index: 37;
	width: 364px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u25250-9
{
	z-index: 99;
	width: 389px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#u25250-5
{
	letter-spacing: 1px;
	color: #43A494;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
}

#u25239-4
{
	z-index: 52;
	width: 296px;
	min-height: 25px;
	font-size: 20px;
	line-height: 24px;
	color: #E11D78;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 106px;
	margin-top: 27px;
	position: relative;
}

#u25240-9
{
	z-index: 56;
	width: 364px;
	min-height: 68px;
	font-size: 14px;
	text-align: justify;
	color: #4E5352;
	font-family: questrial, sans-serif;
	font-weight: 400;
	margin-left: 106px;
	margin-top: 2px;
	position: relative;
}

#u25240-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u25246-3,#u25246-5,#u25240-4
{
	line-height: 17px;
}

#u25240-5
{
	font-size: 16px;
	letter-spacing: 1px;
	color: #43A494;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	line-height: 19px;
}

#pu8474
{
	width: 0.01px;
	left: -100px;
	margin-top: 20px;
	position: relative;
}

#u8474
{
	z-index: 170;
	width: 1160px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u8474_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	left: -99px;
}

#u23442-4
{
	z-index: 187;
	width: 62px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 394px;
}

#u8476-4
{
	z-index: 175;
	width: 62px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 458px;
}

#u8475-4
{
	z-index: 171;
	width: 108px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 526px;
}

#u8477-4
{
	z-index: 179;
	width: 62px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 635px;
}

#u23441-4
{
	z-index: 183;
	width: 62px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 693px;
}

#page .verticalspacer
{
	clear: both;
}

