

.brick_texture {
  background-image: url("brick_texture.png");
  position: absolute;
  left: -70px;
  top: -5px;
  width: 1280px;
  height: 320px;
  z-index: 48;
    
}

.transparent_top_box {
  background-image: url("transparent_top_box.png");
  opacity: 1;
  position: absolute;
  left: -70px;
  top: 50px;
  width: 1280px;
  height: 190px;
  z-index: 50;
}



.signup1_title_txt {
  font-size: 60px;
  font-family: 'Anton', sans-serif;
  color: rgb( 202, 26, 102 );
  text-align: justify;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 150.924px;
  line-height:85px;
  top: 64.014px;
  z-index: 349;
}

.signup1_subtitle_txt {
  left: 439.825px;
  top: 155.55px;
  z-index: 591;
  font-size: 24.333px;
  font-family: "Questrial", sans-serif;
  color: rgb( 78, 83, 82 );
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  
}

.signup1_sec1_title_txt {
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  color: rgb( 91, 91, 91 );
  line-height: 1.298;
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 375px;
  top: 411.458px;
  z-index: 345;
}






.sec2_bkgd_box {
  background-color: rgb( 249, 248, 248 );
  position: absolute;
  left: -70px;
  top: 754px;
  width: 1280px;
  height: 619px;
  z-index: 276;
}

.Medical_Information {
  font-size: 20px;
  font-family: "Questrial",sans-serif;
  color: rgb( 91, 91, 91 );
  line-height: 1.298;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 485px;
  top: 760px;
  z-index: 317;
}

.signup1_sec2_rigth_line {
  background-color: rgb( 91, 91, 91 );
  position: absolute;
  left: 690px;
  top: 793px;
  width: 505px;
  height: 1px;
  z-index: 316;
}

.signup1_sec2_left_line {
  background-color: rgb( 91, 91, 91 );
  position: absolute;
  left: -6px;
  top: 793px;
  width: 485px;
  height: 1px;
  z-index: 315;
}



.signup2_title_txt {
   font-size: 50px;
  font-family: 'Anton', sans-serif;
  color: rgb( 202, 26, 102 );
  text-align: justify;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 450.924px;
  line-height:60px;
  top: 94.014px;
  z-index: 349;
}

.signup2_subtitle_txt {
  font-size: 24.333px;
  font-family: "Questrial", sans-serif;
  color: rgb( 78, 83, 82 );
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 257.5px;
  top: 187.05px;
  z-index: 348;
}


.signup2_sec1_title_txt {
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  color: rgb( 91, 91, 91 );
  line-height: 1.298;
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 405px;
  top: 390.458px;
  z-index: 345;
}

.signup2_sec1_right_line {
  background-color: rgb( 91, 91, 91 );
  position: absolute;
  left: 784px;
  top: 445px;
  width: 400px;
  height: 1px;
  z-index: 344;
}

.signup2_sec1_left_line {
  background-color: rgb( 91, 91, 91 );
  position: absolute;
  left: -2px;
  top: 445px;
  width: 430px;
  height: 1px;
  z-index: 343;
}

.signup2_sec1_question1 {
 
  left: 307px;
  top: 327.636px;
  z-index: 588;
    
  font-size: 24px;
  font-family: "Anton",sans-serif;
  color: rgb( 231, 62, 126 );
  line-height: 1.77;
  text-align: left;
  position: absolute;
  
}

.signup2_sec1_q1_fillin {
  border-radius: 3px;
  background-color: rgb( 233, 232, 232 );
  position: absolute;
  left:308px;
  top: 374px;
  width: 270px;
  height: 34px;
  z-index: 233;
}


.signup2_sec1_question2 {
  font-size: 24px;
  font-family: "Anton",sans-serif;
  color: rgb( 231, 62, 126 );
  line-height: 1.77;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 608.5px;
  top: 327.636px;
  z-index: 234;
}

.signup2_sec1_q2_fillin {
  border-radius: 3px;
  background-color: rgb( 233, 232, 232 );
  position: absolute;
  left:608.5px;
  top: 357px;
  width: 320px;
  height: 34px;
  z-index: 233;
}

.signup2_sec1_question3 {
  font-size: 24px;
  font-family: "Anton",sans-serif;
  color: rgb( 231, 62, 126 );
  line-height: 1.77;
  text-align: left;
  position: absolute;
  left: 307px;
  top: 514.148px;
  z-index: 234;
}

.signup2_sec1_q3_fillin {
  border-radius: 3px;
  background-color: rgb( 233, 232, 232 );
  position: absolute;
  left:307px;
  top: 514px;
  width: 620px;
  height: 34px;
  z-index: 233;
}

.signup2_sec1_question4 {
  font-size: 24px;
  font-family: "Anton",sans-serif;
  color: rgb( 231, 62, 126 );
  line-height: 1.77;
  text-align: left;
  position: absolute;
  left: 307px;
  top: 420.148px;
  z-index: 234;
}

.signup2_sec1_q4_fillin {
  border-radius: 3px;
  background-color: rgb( 233, 232, 232 );
  position: absolute;
  left:307px;
  top: 404px;
  width: 620px;
  height: 34px;
  z-index: 233;
}

.signup2_sec1_question5 {
  font-size: 24px;
  font-family: "Anton",sans-serif;
  color: rgb( 231, 62, 126 );
  line-height: 1.77;
  text-align: left;
  position: absolute;
  left: 307px;
  top: 524.148px;
  z-index: 234;
}

.signup2_sec1_q5_fillin {
  border-radius: 3px;
  background-color: rgb( 233, 232, 232 );
  position: absolute;
  left:307px;
  top: 574px;
  width: 620px;
  height: 34px;
  z-index: 233;
}


.signup2_sec1_question6 {
  font-size: 24px;
  font-family: "Anton",sans-serif;
  color: rgb( 231, 62, 126 );
  line-height: 1.77;
overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  position: absolute;
  left: 307px;
  top: 594.148px;
  z-index: 234;
}

.signup2_sec1_q6_fillin {
  border-radius: 3px;
  background-color: rgb( 233, 232, 232 );
  position: absolute;
  
  left:307px;
  top: 644px;
  width: 620px;
  height: 34px;
  z-index: 233;
}


.signup3_sec3_right_line {
  background-color: rgb( 91, 91, 91 );
  position: absolute;
  left: 688px;
  top: 856px;
  width: 524px;
  height: 1px;
  z-index: 573;
}

.signup3_sec3_left_line {
  background-color: rgb( 91, 91, 91 );
  position: absolute;
  left: 8px;
  top: 856px;
  width: 524px;
  height: 1px;
  z-index: 573;
}

.signup3_sec3_title{
  font-size: 28px;
  font-family: "Questrial",sans-serif;
  color: rgb( 78, 83, 82 );
  line-height: 1.113;
  text-align: center;
  position: absolute;
  left: 553.293px;
  top: 821px;
  z-index: 571;
}
.payment{
    position:absolute;
    left:487px;
    top: 890px;
}